@page "/useractivitydashboard"
@using System.Globalization


<PageTitle>User Activity Dashboard</PageTitle>

<p class="title">User Activity Dashboard</p>

<RadzenCard class="bg-white shadow">
    <div class="row">
        <div class="col-12 col-lg-10 flex-wrap d-flex justify-content-around">
        <label class="d-flex justify-content-center" style="color: @labelColor[0];">
            <input type="radio" name="fontOptions" @onchange="() => ChangeFontToBold(0)" checked> &nbsp; <h6 class="d-flex align-items-center mb-0">Day</h6>
        </label>
        <label class="d-flex justify-content-center" style="color: @labelColor[1];">
            <input type="radio" name="fontOptions" @onchange="() => ChangeFontToBold(1)"> &nbsp; <h6 class="d-flex align-items-center mb-0">Week</h6>
        </label>
        <label class="d-flex justify-content-center" style="color: @labelColor[2];">
            <input type="radio" name="fontOptions" @onchange="() => ChangeFontToBold(2)"> &nbsp; <h6 class="d-flex align-items-center mb-0">Month</h6>
        </label>

        </div>

        <div class="col-12 col-lg-2 px-3 border-start d-flex justify-content-center">
            <BSButton class="d-flex justify-content-center" Target="custdt">
                <i class="fa-solid fa-plus text-secondary"></i>
                <h6 class="text-secondary d-flex align-items-center mb-0"> &nbsp; Custom Date</h6>
            </BSButton>
        </div>
    </div>
</RadzenCard>

<br />

<RadzenCard class="shadow rounded rz-p-10">
    <RadzenChart>
        <RadzenAreaSeries Smooth="true" Data="@NewUsers" CategoryProperty="Week" Title="New Users" ValueProperty="Users"
            RenderingOrder="1">
        </RadzenAreaSeries>
        <RadzenAreaSeries Smooth="true" Data="@ActiveUsers" CategoryProperty="Week" Title="Active Users"
            LineType="LineType.Solid" ValueProperty="Users">
        </RadzenAreaSeries>
        
        <div class="row userrecord">
            <div class="col-3"></div>

            <div class="col-12 col-lg-2">
                <div class="d-flex align-items-end py-2">
                    <div class="rz-p-2 rounded-circle" style="background-color:#BA68C8;"></div>&nbsp;New Users
                </div>

                <div class="d-flex align-items-end pb-2">
                    <div class="rz-p-2 rounded-circle" style="background-color:#3700b3;"></div>&nbsp;Active Users
                </div>
            </div>

            <div class="col-12 col-lg-3 d-flex justify-content-center">
                <div class="col-8 col-lg-8">
                    <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-user-group fa-xl d-flex align-items-center"></i>
                        <h2 class="fw-bold d-flex justify-content-center mb-0">&nbsp;250</h2>
                    </div>
                    <h6 class="d-flex justify-content-center">Total Active Users</h6>
                </div>
            </div>

            <div class="col-12 col-lg-3 d-flex justify-content-center">
                <div class="col-8 col-lg-8">
                    <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-user-group fa-xl d-flex align-items-center"></i>
                        <h2 class="fw-bold d-flex justify-content-center mb-0">&nbsp;100</h2>
                    </div>
                    <h6 class="d-flex justify-content-center">Total New Users</h6>
                </div>
            </div>
        </div>

        <br>
        <RadzenCategoryAxis Padding="20" Formatter="@FormatAsWeek" />
        <RadzenValueAxis Formatter="@FormatAsUSD">
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Users" />
            <RadzenLegend Visible="false" Position="LegendPosition.Top" />
        </RadzenValueAxis>
    </RadzenChart>
</RadzenCard>

<br />

<div class="row">
    <div class="col-12 col-lg-5 shadow rounded mx-2 px-0 py-0">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe src="https://www.google.com/maps/d/embed?mid=1iiXuL2qGwI_fLyck0BNHRhSbqM2A19E&ehbc=2E312F"
                width="100%" height="550" frameborder="0" class="map_canvas"></iframe>
            </div>
        </div>
    </div>

    <!--Donut Chart-->
    <div class="col-12 col-lg-5 ms-5 mx-3 rounded shadow rz-p-10">
        <div class="row">
            <div class="col-12 col-lg-8 p-0">
                <RadzenChart>

                    @* Outer Donut Chart *@
                    <RadzenDonutSeries Data="@rev" CategoryProperty="Qtr" ValueProperty="Rev"
                        TotalAngle="360" StartAngle="360" Radius="140" InnerRadius="120" Fills=@(new [] { "#02CCCC"}) >
                        <ChildContent>
                            <RadzenSeriesDataLabels Visible="@showDataLabels" />
                        </ChildContent>
                        <TitleTemplate>

                            @* Middle Donut Chart *@
                            <RadzenDonutSeries Data="@revI" CategoryProperty="QtrI" ValueProperty="RevI"
                                TotalAngle="190" StartAngle="90" Radius="110" InnerRadius="90" Fills=@(new [] { "#289800" }) >
                                <ChildContent>
                                    <RadzenSeriesDataLabels Visible="@sDL" />
                                </ChildContent>
                                <TitleTemplate>

                                    @* Center Donut Chart *@
                                    <RadzenDonutSeries Data="@revII" CategoryProperty="QtrII"
                                        ValueProperty="RevII" TotalAngle="90" StartAngle="90" Radius="80" InnerRadius="60" Fills=@(new [] { "#20AEFD" }) >
                                        <ChildContent>
                                            <RadzenSeriesDataLabels Visible="@sDL3" />
                                        </ChildContent>
                                        <TitleTemplate>
                                            <div class="rz-donut-content">
                                                <div>90%</div>
                                            </div>
                                        </TitleTemplate>

                                    </RadzenDonutSeries>
                                </TitleTemplate>

                            </RadzenDonutSeries>
                        </TitleTemplate>

                    </RadzenDonutSeries>
                    
                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </div>

            <div class="col-12 col-lg-4">
                <div class="shadow p-3 rounded piechart-card1">
                    <h4 class="d-flex justify-content-center fw-bold">500</h4>
                    <h6 class="d-flex justify-content-center fw-bold">Registered Users</h6>
                </div>

                <br />

                <div class="shadow p-3 rounded piechart-card2">
                    <h4 class="d-flex justify-content-center fw-bold">250</h4>
                    <h6 class="d-flex justify-content-center fw-bold">Active Users</h6>
                </div>

                <br />

                <div class="shadow p-3 rounded piechart-card3">
                    <h4 class="d-flex justify-content-center fw-bold">75</h4>
                    <h6 class="d-flex justify-content-center fw-bold">New Users</h6>
                </div>
            </div>
        </div>
    </div>
</div>

@* Custom date pop-up *@
<BSModal DataId="custdt" IsCentered="true">
    <Header>
        <h4 class="text-primary">Filter</h4>
    </Header>
    <Content><BSRow Justify="Justify.Center" class="align-middle mx-1 mb-4">
            <BSCol>
                <h6>
                    <RadzenLabel Text="From Date" />
                </h6>
                <RadzenDatePicker @bind-Value=@dtvalue Name="RadzenDatePickerBindValue" Placeholder="From Date" />
            </BSCol>
            <BSCol>
                <h6>
                    <RadzenLabel Text="To Date" />
                </h6>
                <RadzenDatePicker @bind-Value=@dtvalue Name="RadzenDatePickerBindValue" Placeholder="To Date" />
            </BSCol>
        </BSRow></Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" class="w-25 border border-primary bg-light rounded-pill text-primary"
            @onclick="modal.HideAsync">Reset</BSButton>
        <BSButton class="w-25 text-white bg-primary rounded-pill">Apply</BSButton>
    </Footer>
</BSModal>


@code {
    DateTime? dtvalue;

    //filter data
    private string fontWeight = "normal";

    private string fontColor = "black";

    private string[] labelColor = { "blue", "black", "black" };

    private void ChangeFontToBold(int labelIndex)
    {
        ChangeFontProperties("bold", "Blue", labelIndex);

    }
    private void ChangeFontProperties(string weight, string color, int labelIndex)
    {
        fontWeight = weight;

        fontColor = color;

        for (int i = 0; i < labelColor.Length; i++)

        {
            labelColor[i] = labelIndex == i ? "blue" : "black";

        }
        StateHasChanged();
    }

    //Graph
    class DataItem
    {
        public string Week { get; set; }
        public double Users { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("", CultureInfo.CreateSpecificCulture(""));
    }

    string FormatAsWeek(object value)
    {
        if (value != null)
        {
            return $"Week {value}";
        }

        return string.Empty;
    }

    DataItem[] NewUsers = new DataItem[] {
new DataItem { Week = "1", Users = 90 },
new DataItem { Week = "2", Users = 190 },
new DataItem { Week = "3", Users = 200 },
new DataItem { Week = "4", Users = 210 },
};

    DataItem[] ActiveUsers = new DataItem[] {
new DataItem { Week = "1", Users = 110 },
new DataItem { Week = "2", Users = 147 },
new DataItem { Week = "3", Users = 255 },
new DataItem { Week = "4", Users = 270 },
};


    //DONUT CHART
    bool showDataLabels = false;
   class DataItemI
    {
        public string Qtr { get; set; }
        public double Rev { get; set; }
    }

    DataItemI[] rev = new DataItemI[] {
new DataItemI{ Qtr = "Registered Users",Rev = 100}
};

    //Donut chartII
    bool sDL = false;
    class DataItemII
    {
        public string QtrI { get; set; }
        public double RevI { get; set; }
    }

    DataItemII[] revI = new DataItemII[] {
new DataItemII{ QtrI = "Active Users",RevI = 80}
};

    //Donut chartIII
    bool sDL3 = false;
    class DataItem3
    {
        public string QtrII { get; set; }
        public double RevII { get; set; }
    }

    DataItem3[] revII = new DataItem3[] {
new DataItem3{ QtrII = "New Users",RevII = 27}
};
}