@page "/safetyreportgrid"
@inject SRList srlist

<PageTitle>All Safety Reports</PageTitle>

<!-- All Safety Reports Grid -->
<RadzenRow Gap="15px" RowGap="15px" class="d-flex align-items-center mb-4 ">
    <RadzenColumn Size="3" class="d-flex align-items-center">
        <div class="title">All Safety Reports</div>
        <RadzenIcon Icon="search" class="icon text-blue ms-5" />
    </RadzenColumn>
    <RadzenColumn Size="9" class="rz-text-align-end">
        <span class="safetyreport-butn d-flex align-items-center justify-content-end">
            <RadzenCheckBoxList Value=@report TValue="int" Change=@(args => report = args) class="">
                <Items>
                    <RadzenCheckBoxListItem class="button-shadow " Text="Reported By Me" Value="1" />
                    <RadzenCheckBoxListItem class="button-shadow mx-3" Text="Assigned to Me" Value="2" />
                </Items>
            </RadzenCheckBoxList>


            <BSButton Color="BSColor.Primary" class="text-dark bg-light shadow border-0 rounded-pill" Target="srfilter">
                <i class="filter-icon fa-solid fa-filter"></i>&nbsp;Filter
            </BSButton>
            <RadzenButton Variant="Variant.Flat" Icon="description" Text="Incident Report"
                class="text-light --blue-clr rounded-pill rz-m-2" />
            <RadzenButton Variant="Variant.Flat" Icon="assignment_ind" Text="User Report"
                class="text-light --blue-clr rounded-pill rz-m-2" />
        </span>
    </RadzenColumn>
</RadzenRow>



@* Modal Filter *@
<BSModal DataId="srfilter" IsCentered="true">
    <Header>
        <h4 class="text-primary">Filter</h4>
    </Header>
    <Content>
        <BSRow Justify="Justify.Center" class="align-middle mx-1 mb-4">
            <BSCol>
                <h6>
                    <RadzenLabel Text="From Date" />
                </h6>
                <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" Placeholder="From Date" />
            </BSCol>
            <BSCol>
                <h6>
                    <RadzenLabel Text="To Date" />
                </h6>
                <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" Placeholder="To Date" />
            </BSCol>
        </BSRow>

        <h6 class="text-secondary">Safety Filter</h6>
        <BSRow class="align-middle rounded ms-2">
            <BSCol>
                <RadzenFormField Text="Safety type" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>

                <RadzenFormField Text="Walk type" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>
            </BSCol>
            <BSCol>
                <RadzenFormField Text="Actual Severity" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>

                <RadzenFormField Text="Potential Severity" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>
            </BSCol>

            <RadzenFormField Text="Group" class="w-50">
                <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
            </RadzenFormField>
        </BSRow>


        <BSRow class="align-middle rounded ms-1 mt-3">
            <BSCol>
                <RadzenFormField Text="Department" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>

                <RadzenFormField Text="Status" class="mb-2">
                    <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
                </RadzenFormField>
            </BSCol>

            <RadzenFormField Text="User Level" class="w-50">
                <RadzenDropDown Data="@(dd_list)" @bind-Value="@dd_value" />
            </RadzenFormField>
        </BSRow>


    </Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" class="w-25 border border-primary bg-light rounded-pill text-primary"
            @onclick="modal.HideAsync">
            Reset</BSButton>
        <BSButton class="w-25 text-white bg-primary rounded-pill">Apply</BSButton>
    </Footer>
</BSModal>


<!-- GRID -->

@if (sr == null)
{
    <p>Loading........</p>
}
else
{
    <RadzenDataGrid AllowPaging="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        PageSize="10" AllowSorting="true" Data="@sr" TItem="SR" ColumnWidth="150px" class="table-body">

        <Columns>

            <RadzenDataGridColumn TItem="SR" Property="InId" Title="Incident Id"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="ReportedBy" Title="Reported By">
                <Template Context="data">
                    <a href="safetyreportingdetails" class="border-0 text-muted text-decoration-none">@data.ReportedBy</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="SafetyType" Title="Safety Type"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="Deptmt" Title="Department"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="Date" Title="Date">
                <Template Context="data">
                    @string.Format("{0:d}", data.Date)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="Description" Title="Description"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SR" Property="Status" Title="Status"></RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>
}
@code {
    List<SR> sr = new();

    protected override async Task OnInitializedAsync()
    {
        sr = await Task.Run(() => srlist.SafetyReportTable());
    }

    /* Reported check box*/
    IEnumerable<int> report = new int[] { 1 };

    //Date Picker
    DateTime? value;

    //dropdown
    string dd_value = "Select All";
    List<string> dd_list = new(){
"1", "2", "3", "4"
};

}