@page "/useractivitydashboard"
@using System.Globalization


<PageTitle>User Activity Dashboard</PageTitle>

<p class="title">User Activity Dashboard</p>

<RadzenCard class="bg-white shadow">
    <RadzenRow>
        <RadzenColumn Size="10" class="d-flex justify-content-center">
            <RadzenRadioButtonList @bind-Value=@filterdt TValue="int?">
                <Items>
                    <h5>
                        <RadzenRadioButtonListItem Text="Day" Value="1" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Week" Value="2" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Month" Value="3" TValue="int?" class="rz-mx-12" />
                    </h5>
                </Items>
            </RadzenRadioButtonList>
        </RadzenColumn>

        <RadzenColumn Size="2" class="rz-px-10 border-start d-flex align-items-center">
            <i class="fa-solid fa-plus text-secondary"></i>
            <h6 class="text-secondary mb-0"> &nbsp; Custom Date</h6>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<br />

<RadzenCard class="shadow rounded rz-p-10">
    <RadzenChart>
        <RadzenAreaSeries Smooth="true" Data="@NewUsers" CategoryProperty="Week" Title="New Users" ValueProperty="Users"
            RenderingOrder="1">
        </RadzenAreaSeries>
        <RadzenAreaSeries Smooth="true" Data="@ActiveUsers" CategoryProperty="Week" Title="Active Users"
            LineType="LineType.Solid" ValueProperty="Users">
        </RadzenAreaSeries>
        <RadzenRow>
            <RadzenColumn Size="7"></RadzenColumn>
            <RadzenColumn>
                <RadzenColumn>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-user-group fa-xl"></i>
                        <h2>&nbsp;<strong>250</strong></h2>
                    </div>
                    <h6 class="d-flex justify-content-start">Total Active Users</h6>
                </RadzenColumn>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenColumn>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-user-group fa-xl"></i>
                        <h2>&nbsp;<strong>100</strong></h2>
                    </div>
                    <h6 class="d-flex justify-content-start">Total New Users</h6>
                </RadzenColumn>
            </RadzenColumn>
            <RadzenColumn Size="2"></RadzenColumn>
        </RadzenRow>
        
        <br>
        <RadzenCategoryAxis Padding="20" Formatter="@FormatAsWeek" />
        <RadzenValueAxis Formatter="@FormatAsUSD">
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Users" />
            <RadzenLegend Visible="true" Position="LegendPosition.Top" />
        </RadzenValueAxis>
    </RadzenChart>
</RadzenCard>

<br />

<RadzenRow>
    <RadzenColumn class="shadow rounded rz-p-10">
        <h5 class="text-dark"><strong>Heat Map</strong></h5>
        <img src="_content/SharedUI/img/assests/heat-map.svg" />

    </RadzenColumn>

    <!--Donut Chart-->
    <RadzenColumn Class="bg-white rounded shadow rz-p-10 ">
        <RadzenRow>
            <RadzenColumn>
                <RadzenChart>
                    <RadzenDonutSeries Radius="40" Data="@revenue" CategoryProperty="PieC" ValueProperty="Revenue"
                        TotalAngle="360" StartAngle="360">
                        <ChildContent>
                            <RadzenSeriesDataLabels Visible="@showDataLabels" />
                        </ChildContent>
                        <TitleTemplate>
                            <RadzenDonutSeries Radius="40" Data="@revenue" CategoryProperty="PieC"
                                ValueProperty="Revenue" TotalAngle="360" StartAngle="360">
                                <ChildContent>
                                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                                </ChildContent>
                                <TitleTemplate>
                                    <RadzenDonutSeries Radius="40" Data="@revenue" CategoryProperty="PieC"
                                        ValueProperty="Revenue" TotalAngle="360" StartAngle="360">
                                        <ChildContent>
                                            <RadzenSeriesDataLabels Visible="@showDataLabels" />
                                        </ChildContent>
                                        <TitleTemplate>
                                            <div class="rz-donut-content">
                                                <div>90%</div>
                                            </div>
                                        </TitleTemplate>
                                    </RadzenDonutSeries>
                                </TitleTemplate>
                            </RadzenDonutSeries>
                        </TitleTemplate>
                    </RadzenDonutSeries>
                </RadzenChart>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>


@code {
    int? filterdt;

    //Graph
    class DataItem
    {
        public string Week { get; set; }
        public double Users { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("", CultureInfo.CreateSpecificCulture(""));
    }

    string FormatAsWeek(object value)
    {
        if (value != null)
        {
            return $"Week {value}";
        }

        return string.Empty;
    }

    DataItem[] NewUsers = new DataItem[] {
new DataItem { Week = "1", Users = 90 },
new DataItem { Week = "2", Users = 190 },
new DataItem { Week = "3", Users = 200 },
new DataItem { Week = "4", Users = 210 },
};

    DataItem[] ActiveUsers = new DataItem[] {
new DataItem { Week = "1", Users = 110 },
new DataItem { Week = "2", Users = 147 },
new DataItem { Week = "3", Users = 255 },
new DataItem { Week = "4", Users = 270 },
};

    //DONUT CHART

    bool showDataLabels = false;

    class DataItemI
    {
        public string PieC { get; set; }
        public double Revenue { get; set; }
    }

    DataItemI[] revenue = new DataItemI[] {
new DataItemI
{
PieC = "Q1",
Revenue = 100
}
};
}